{% extends 'base.html.twig' %}

{% block title %}Hello VersusController!
{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/versus.css') }}" type="text/css" rel="stylesheet">
{% endblock %}
{% block body %}
	{% include ('mininavbar.html.twig') %}

	<div class="container-fluid">
		<div id="banniere-vs" class="row">
			<div class="col-md-6 text-center my-4">
				{% include ('asset_weather1.html.twig') %}
				<h1>{{ city_name1 }}</h1>
			</div>
			<div class="col-md-6 text-center my-4">
				<h1>{{ city_name2 }}</h1><br>
				{% include ('asset_weather2.html.twig') %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<table>
				<caption>
					<h2 class="caption_h">Donnée météo</h2>
				</caption>
				<thead>
					<tr>
						<th class="left_th">{{ city_name1 }}</th>
						<th class="middle_th">VS</th>
						<th class="right_th">{{ city_name2 }}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="left_td">{{ tmin1 }}</td>
						<td class="middle_td">Température minimale</td>
						<td class="right_td">{{ tmin2 }}</td>
					</tr>
					<tr>
						<td class="left_td">{{ tmax1 }}</td>
						<td class="middle_td">Température maximale</td>
						<td class="right_td">{{ tmax2 }}</td>
					</tr>
					<tr>
						<td class="left_td">{{ sunhours1 }}</td>
						<td class="middle_td">Temps d'ensoleillement</td>
						<td class="right_td">{{ sunhours2 }}</td>
					</tr>
					<tr>
						<td class="left_td">{{ probawind1 }}</td>
						<td class="middle_td">Probabilité de rafale superieur à 70km/h</td>
						<td class="right_td">{{ probawind2 }}</td>
					</tr>
					<tr>
						<td class="left_td">{{ probarain1 }}</td>
						<td class="middle_td">Probabilité de pluie</td>
						<td class="right_td">{{ probarain2 }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<section id="commentaires">
			{% for comment in comments.comments %}
				<div class="comment">
					<div class="row">
						<div class="col-3">
							{{ comment.author }}
							(<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
						</div>
						<div class="col">
							{{ comment.content | raw }}
						</div>
					</div>
				</div>
			{% endfor %}
		</section>

		{{ form_start(commentForm) }}
		{{ form_row(commentForm.author, {'attr': {'placeeholder': "Votre nom"}})}}
		{{ form_row(commentForm.content, {'attr': {'placeeholder': "Votre commentaire"}})}}
		<button type="submit" class="btn btn-danger">Commenter !</button>
		{{ form_end(commentForm) }}
	</div>
{% endblock %}
